<!-- your html code here -->
<div class="container">
    <div class="row">
      <div class="col-8">
        <h1>Lorem Ipsum</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui dui, egestas eget nibh eget, 
        dictum ornare elit. Aenean sit amet neque quis libero pellentesque euismod. Proin vulputate tellus 
        vel lorem accumsan fermentum. Ut fringilla arcu ut odio consectetur, sit amet dapibus turpis porta. 
        Proin ac quam sed ex tincidunt facilisis pulvinar non neque. Nulla aliquet lectus quis velit sollicitudin</h3>
      </div>
      <div class="col-4">
        <img src="./assets/img/1.jpg" class="img-fluid rounded-circle" alt="">
      </div>
     
    
  </div>
  