<!-- your html code here -->
<div class="container-flex">
    <h1>Portfolio</h1>
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores ab
        facilis, saepe mollitia culpa, ducimus quae praesentium atque odio
        dolore. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero fugit magni delectus officiis laudantium amet molestias, voluptates earum expedita esse accusamus. Eum eaque, 
        ullam enim consectetur assumenda deserunt possimus voluptatem!</h6>
    

    <div class="row">
        <div class="col-4">
            <div class="content">
                <img src="./assets/img/big-project-image.png"
                    alt="" style="width:100%">
                <h3> Project Name</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores ab
                    facilis, saepe mollitia culpa, ducimus quae praesentium atque odio
                    dolore.
                </p>
            </div>
        </div>
          
        <div class="col-4">
            <div class="content">
                <img src=
                "./assets/img/big-project-image.png"
                    alt="" style="width:100%">
                    <h3> Project Name</h3>
                  
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores ab
                    facilis, saepe mollitia culpa, ducimus quae praesentium atque odio
                    dolore.
                </p>
            </div>
        </div>
          
        <div class="col-4">
            <div class="content">
                <img src=
                "./assets/img/big-project-image.png"
                    alt="" style="width:100%">
                    <h3> Project Name</h3>
                  
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores ab
                    facilis, saepe mollitia culpa, ducimus quae praesentium atque odio
                    dolore.
                </p>
            </div>
        </div>
    </div>
</div>